# config.yaml
project:
  name: "soccer-prediction-master"
  version: "1.0.0"

data:
  leagues:
    - name: "Premier League"
      code: "EPL"
    - name: "La Liga"
      code: "LL"
    - name: "Serie A"
      code: "SA"

modeling:
  test_size: 0.2
  random_state: 42
